<table>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        <th>Required</th>
    </tr>
    <% for (name in schema) { %>
        <tr>
            <td><%= name %></td>
            <td><%= schema[name].type %></td>
            <td><%= schema[name].description %></td>
            <td><%= schema[name].required %></td>
        </tr>
    <% } %>
</table>
